@import "colors"

@font-face 
	font-family: Phenomena-Bold
	src: url(../../fonts/Phenomena/Phenomena-Bold.otf), url(../../fonts/Phenomena/Phenomena-Bold.woff2), url(../../fonts/Phenomena/Phenomena-Bold.woff), url(../../fonts/Phenomena/Phenomena-Bold.ttf), url(../../fonts/Phenomena/Phenomena-Bold.eot)
html
	@media only screen and (min-width: 1200px)
		font-size: 18px
	@media only screen and (min-width: 992px) and (max-width: 1199px)
		font-size: 16px
	@media only screen and (max-width: 991px)
		font-size: 14px
body
	background-color: $bg
	color: $font
	font-family: 'Philosopher', sans-serif
	margin: 0 auto
.nav
	width: 100%
	background-color: $bg
	padding-top: 12px
	height: 80px
.nav-active
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2)
.logo
	margin-right: 8px
.top-nav_menu
	list-style: none
	display: flex
	padding-left: 0
	li
		margin-right: 40px
		@media only screen and (min-width: 768px) and (max-width: 991px)
			margin-right: 30px
		&:last-child
			margin-right: 0px
		a
			text-decoration: none
			letter-spacing: 1.35px
			color: $font
			font-weight: 400
			&:hover
				color: $burgundy
				letter-spacing: 1.35px
				cursor: pointer
.screen
	margin-bottom: 110px
	@media only screen and (min-width: 992px) and (max-width: 1199px)
		margin-bottom: 80px
	@media only screen and (max-width: 991px)
		margin-bottom: 50px
.first-scrin
	margin-top: 45px
	.perfecto-pizza
		display: flex
		justify-content: center
		flex-direction: column
	.perfecto_position
		@media only screen and (max-width: 991px)
			margin-top: 7.5px //hight of corners
	.main-photo
		width: 100%
		position: relative
		display: flex
		justify-content: center
		flex-direction: column
		margin: 47px 10px
		@media only screen and (max-width: 767px)
			margin: 0 0 25px 0
			justify-content: flex-start
		&_pizza
			display: block
			width: 100%
		.pizza
			position: absolute
			margin: 0
			left: 3%
			@media only screen and (min-width: 768px) and (max-width: 1199px)
				left: 8%
			@media only screen and (max-width: 767px)
				left: 50%
				transform: translateX(-50%)
h1
	font-family: Phenomena-Bold
	@media only screen and (min-width: 1200px)
		font-size: 119px
	@media only screen and (min-width: 992px) and (max-width: 1199px)
		font-size: 100px
	@media only screen and (max-width: 991px)
		font-size: 70px
	text-transform: uppercase
	font-weight: 700
	margin: 0
h2
	color: $titles
	font-family: Phenomena-Bold
	font-size: 36px
	font-weight: 700
	letter-spacing: 2.7px
	text-align: center
	margin-bottom: 30px
.corners
	box-shadow: -38px 37px 0 -25px $bg, 38px -38px 0 -25px $bg, -11.5px -11px 0 0 $green, 35px 35px 0 -25px $green
.color
	color: $white
button
	background-color: $burgundy
	letter-spacing: 1.35px
	font-weight: 700
	border: 2px solid $burgundy
	color: $white
	&:hover
		background-color: $bg
		color: $burgundy
		font-weight: 700
		letter-spacing: 1.35px
		cursor: pointer
.first-btn
		height: 48px
		margin-top: 20px
		width: 250px
		@media only screen and (max-width: 1199px)
			height: 40px
			width: 220px			
.novisible
	visibility: hidden
.images
	width: 100%
.higher
	width: 100%
.about-us
	background-color: $bg
	padding: 8%
	display: inline-block
.child-text
	background-color: $bg
	padding: 5%
	@media only screen and (max-width: 1199px)
		padding: 3%
		margin-bottom: 30px
	display: inline-block
.about
	margin-top: 0
	margin-bottom: 8%
	@media only screen and (min-width: 768px) and (max-width: 1199px)
		margin-bottom: 4%
		line-height: 20px
	line-height: 24px
	&:last-child
		margin-bottom: 0px
.bold
	font-weight: 700
.text
	margin: 0
	text-align: center
	margin-bottom: 50px
	line-height: 24px
.second-btn
	margin-top: 40px
	width: 230px
	height: 48px
	@media only screen and (max-width: 767px)
		margin-bottom: 30px
.center
	display: flex
	flex-direction: column
	align-items: center
.menu-images
	display: block
	width: 95%
.submit-btn
	padding: 0
	display: flex
	justify-content: center
.photo
	position: relative
.arrow-position
	position: relative
	display: flex
	flex-direction: column
	justify-content: flex-end
	.arrow-unit
		width: 22%
		height: 8%
		position: absolute
		background-color: $burgundy
		color: $white
		font-size: 1.7rem
		z-index: 1
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		&:hover
			background-color: $bg
			color: $burgundy
			cursor: pointer
	.right-arrow
		align-self: flex-end
.twin-photos
	display: flex
	flex-direction: column
	align-items: center
	justify-content: space-between
.forms
	width: 100%
form
	display: flex
	flex-direction: column
	justify-content: space-between
	input
		height: 50px
		width: 100%
		color: $input
		line-height: 24px
		padding: 18px 18px 18px 55px
		margin-bottom: 30px
		border-radius: 3px
		border: 2px solid $burgundy
		background-color: $bg
		background-image: url(../../images/man-user.png)
		background-position: 15px 10px
		background-repeat: no-repeat
#email
	background-image: url(../../images/email.png)
#telnumber
	background-image: url(../../images/call.png)
	margin-bottom: 30px
#date
	background-image: url(../../images/calendar.png)
#time
	background-image: url(../../images/clock.png)
#persons
	background-image: url(../../images/multiple-users.png)
	margin-bottom: 30px
#submit
	width: 250px
	height: 50px
	border-radius: 3px
	font-size: 18px
	font-weight: 700
h4
	font-size: 24px
	font-weight: 700
	line-height: 36px
	letter-spacing: 1.8px
	margin: 30px 0 20px 0
.contact-us
	margin-top: 0
	text-align: start
.phones
	margin: 0
	font-size: 24px
	letter-spacing: 1.5px
#instagram
	margin-right: 20px
h3
	font-family: Phenomena-Bold
	@media only screen and (min-width: 1200px)
		font-size: 120px
		margin-bottom: 25px
	@media only screen and (min-width: 768px) and (max-width: 1199px)
		font-size: 72px
		margin-bottom: 15px
	@media only screen and (max-width: 767px)
		font-size: 60px
		margin-bottom: 10px
	font-weight: 700
	text-transform: uppercase
	letter-spacing: 9px
	margin-top: 0
	text-align: center
.last-image-block
	position: relative
	width: 100%
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	.atop
		position: absolute
		bottom: 85%
		@media only screen and (min-width: 2000px)
			bottom: 90%
		@media only screen and (min-width: 768px) and (max-width: 991px)
			bottom: 80%
		@media only screen and (min-width: 576px) and (max-width: 767px)
			bottom: 78%
		@media only screen and (max-width: 575px)
			bottom: 70%
		margin: 0
@media only screen and (max-width: 991px)
	.col-12
		display: flex
		flex-direction: column
		justify-content: center
		align-items: center
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
		h3, h1
			margin-bottom: 0
		.images
			margin-top: 20px
			margin-bottom: 20px
			&:last-child
			margin-top: 0